<h2>{{title}}</h2>

<p>We only accept payment in chocolate. We can produce 1 bar per {{chocolatePerBar}} grams of chocolate.</p>

<form class="form-inline" {{action "calculateBars" on="submit"}}>

  <label>
    Chocolate amount (g):
    {{input type="number" placeholder="0" value=inputValue key-up="inputValueChanged" class="form-control"}}
  </label>

  {{#unless autoUpdate}}
    <button type="submit" name="calculate" {{action 'calculateBars'}} class="btn btn-success">UPDATE</button>
  {{/unless}}

  <label>
    {{input type="checkbox" checked=autoUpdate}}
    Auto-update
  </label>

  <h3>Bars you will get: <span>{{bars}}</span></h3>

  {{#if autoUpdate}}
    <h6>(Alerts are disabled on auto-update)</h6>
  {{/if}}

</form>
